@model VercelLatestDeploymentViewModel

<div class="vercel-latest-deployment-status">
    <span>Deployment Status: </span>
    @if (!Model.InitializationStatus.IsReadConfigured)
    {
        <span>Api Token not configured.</span>
    }
    else if (Model.IsWaitingForDeployment)
    {
        <span>Waiting for deployment.</span>
    }
    else if (Model.LatestDeployment == null)
    {
        <span>Could not find latest deployment.</span>
    }
    else if (Model.LatestDeployment.Source is Nmbl.Deployments.Vercel.Models.VercelDeployment vercelDeployment)
    {
        <span>@vercelDeployment.State</span>
    } else
    {
        <span>Couldn't determine deployment state.</span>
    }
</div>
